allow hal_camera_default camera_data_file:file { getattr open write };
allow hal_camera_default sysfs_video4linux:dir search;
allow hal_camera_default sysfs_video4linux:file { open read };
