allow hal_wifi_supplicant_default wifi_data_file:dir { add_name remove_name setattr write };
allow hal_wifi_supplicant_default wifi_data_file:file { create getattr open read rename setattr unlink write };
allow hal_wifi_supplicant_default wifi_data_file:sock_file write;
