allow hal_power_default debugfs_wifi:file { getattr open read };
allow hal_power_default sysfs_input:file { open write };
allow hal_power_default sysfs_input:dir search;
